<!----><td class="new-runner-info" ng-class="{
                            'with-pin-runners': ctrl.pinRunnersEditMode,
                            'without-lay': !ctrl.vm.data.prefs.displayLayPrices,
                            'with-runner-timeform-info': ctrl.vm.data.prefs.displayTimeform123 &amp;&amp; runner.isActive &amp;&amp; ctrl.vm.data.timeformRunners[runner.selectionId]
                        }" colspan="" ng-click="::ctrl.vm.events.runnerInfoDropdownClick(runner.selectionId, runner.isActive)"><!----><!----><div class="runner-info-container"><div class="market-graph-container"><!----><bf-market-graph market-id="::ctrl.vm.data.market.id" selection-id="::runner.selectionId" handicap="::runner.handicap" ng-click="ctrl.vm.events.handleOpenedGraphGTM($event);" ng-if="runner.isActive &amp;&amp; ctrl.vm.data.market.eventTypeId" on-graph-window-closed="ctrl.vm.events.handleGraphWindowClosed();"><button class="market-graph" ng-click="ctrl.vm.events.openMarketGraph()"></button></bf-market-graph><!----></div><div class="runner-data-container without-race-card-info" ng-class="{
                                    'with-pnl': ctrl.vm.events.shouldShowPnl(runner),
                                    'without-race-card-info': !ctrl.vm.data.displayRaceCardInfo
                                 }"><bf-runner-info ng-class="{
                                    'name-with-beacon': ctrl.vm.data.shouldDisplayBeacons,
                                    'name-saddlecloth': !ctrl.vm.data.shouldDisplayBeacons &amp;&amp; ctrl.vm.data.market.isSaddleclothRacing,
                                    'name-silk': !ctrl.vm.data.shouldDisplayBeacons &amp;&amp; !ctrl.vm.data.market.isSaddleclothRacing}" type="default" runner="::runner" metadata="ctrl.vm.data.runnerMetadataMap[runner.selectionId]" show-race-card="ctrl.vm.data.displayRaceCardInfo" is-saddle-cloth-racing="ctrl.vm.data.market.isSaddleclothRacing" country-code="ctrl.vm.data.market.countryCode" class="name-silk"><div ng-switch="::$ctrl.type" class="runner-info"><!----><!----><!----><div ng-switch-default="" class="default name"><h3 class="runner-name" ng-bind="$ctrl.runnerName">Over 0,5 goal</h3></div><!----></div></bf-runner-info></div><!----><!----></div></td><!----><!----><td class="bet-buttons back-cell" ng-repeat="back in runner.toBack track by $index" ng-if="runner.isActive &amp;&amp; (ctrl.vm.data.prefs.displayMarketDepth || $last)" ng-class="{
                            'last-back-cell': $last,
                            'suspended': ctrl.vm.data.market.isSuspended,
                            'without-lay': !ctrl.vm.data.prefs.displayLayPrices
                        }" bet-type="back" bet-is-sp="false" bet-handicap="0" bet-selection-id="5851483"><ours-price-button type="back" price="ctrl.vm.events.getBetPrice(back.price)" size="ctrl.vm.events.getBetSize(back.size, !$last)" depth="runner.toBack.length - $index - 1" pressed="$last &amp;&amp; runner.isBackSelected" highlightable="ctrl.vm.data.prefs.flashingUpdateButtonsEnabled" hover-text="ctrl.vm.events.getBetButtonFractionalOdd(back)" disabled="ctrl.vm.data.market.isSuspended" on-click="ctrl.vm.events.addBet(ctrl.vm.data.betsConfiguration.types.back, back.price, runner)">
            <button class="_5iIjZ back FfpPi bCGFk" ng-click="$ctrl.onClick()" ng-disabled="$ctrl.disabled" ng-attr-title="{{$ctrl.hoverText}}" ng-attr-is-best-selection="{{$ctrl.depth === 0}}" ng-attr-is-sp="{{$ctrl.isSp}}" ng-class="[
                    $ctrl.type,
                    {
                        'FfpPi': $ctrl.type === 'back',
                        '_4kgZU': $ctrl.type === 'lay',
                        'Sm8Nv': $ctrl.type === 'over',
                        'p0Mw+': $ctrl.type === 'under',
                        'SPkh1': $ctrl.pressed,
                        'd5UZ9': $ctrl.highlighted,
                        'bCGFk': $ctrl.depth
                    }
                ]" ng-attr-is-pressed="{{$ctrl.pressed}}" title="" is-best-selection="false" is-pressed="false">
                <!---->
                <!----><label ng-if="!$ctrl.isSp" class="Zs3u5 AUP11 Qe-26"></label><!---->
                <!----><label ng-if="!$ctrl.isSp" class="He6+y Qe-26"></label><!---->
            </button>
            </ours-price-button></td><!----><!----><!----><td class="bet-buttons back-cell" ng-repeat="back in runner.toBack track by $index" ng-if="runner.isActive &amp;&amp; (ctrl.vm.data.prefs.displayMarketDepth || $last)" ng-class="{
                            'last-back-cell': $last,
                            'suspended': ctrl.vm.data.market.isSuspended,
                            'without-lay': !ctrl.vm.data.prefs.displayLayPrices
                        }" bet-type="back" bet-is-sp="false" bet-handicap="0" bet-selection-id="5851483"><ours-price-button type="back" price="ctrl.vm.events.getBetPrice(back.price)" size="ctrl.vm.events.getBetSize(back.size, !$last)" depth="runner.toBack.length - $index - 1" pressed="$last &amp;&amp; runner.isBackSelected" highlightable="ctrl.vm.data.prefs.flashingUpdateButtonsEnabled" hover-text="ctrl.vm.events.getBetButtonFractionalOdd(back)" disabled="ctrl.vm.data.market.isSuspended" on-click="ctrl.vm.events.addBet(ctrl.vm.data.betsConfiguration.types.back, back.price, runner)">
            <button class="_5iIjZ back FfpPi bCGFk" ng-click="$ctrl.onClick()" ng-disabled="$ctrl.disabled" ng-attr-title="{{$ctrl.hoverText}}" ng-attr-is-best-selection="{{$ctrl.depth === 0}}" ng-attr-is-sp="{{$ctrl.isSp}}" ng-class="[
                    $ctrl.type,
                    {
                        'FfpPi': $ctrl.type === 'back',
                        '_4kgZU': $ctrl.type === 'lay',
                        'Sm8Nv': $ctrl.type === 'over',
                        'p0Mw+': $ctrl.type === 'under',
                        'SPkh1': $ctrl.pressed,
                        'd5UZ9': $ctrl.highlighted,
                        'bCGFk': $ctrl.depth
                    }
                ]" ng-attr-is-pressed="{{$ctrl.pressed}}" title="" is-best-selection="false" is-pressed="false">
                <!---->
                <!----><label ng-if="!$ctrl.isSp" class="Zs3u5 AUP11 Qe-26"></label><!---->
                <!----><label ng-if="!$ctrl.isSp" class="He6+y Qe-26"></label><!---->
            </button>
            </ours-price-button></td><!----><!----><!----><td class="bet-buttons back-cell last-back-cell" ng-repeat="back in runner.toBack track by $index" ng-if="runner.isActive &amp;&amp; (ctrl.vm.data.prefs.displayMarketDepth || $last)" ng-class="{
                            'last-back-cell': $last,
                            'suspended': ctrl.vm.data.market.isSuspended,
                            'without-lay': !ctrl.vm.data.prefs.displayLayPrices
                        }" bet-type="back" bet-is-sp="false" bet-handicap="0" bet-selection-id="5851483"><ours-price-button type="back" price="ctrl.vm.events.getBetPrice(back.price)" size="ctrl.vm.events.getBetSize(back.size, !$last)" depth="runner.toBack.length - $index - 1" pressed="$last &amp;&amp; runner.isBackSelected" highlightable="ctrl.vm.data.prefs.flashingUpdateButtonsEnabled" hover-text="ctrl.vm.events.getBetButtonFractionalOdd(back)" disabled="ctrl.vm.data.market.isSuspended" on-click="ctrl.vm.events.addBet(ctrl.vm.data.betsConfiguration.types.back, back.price, runner)">
            <button class="_5iIjZ back FfpPi" ng-click="$ctrl.onClick()" ng-disabled="$ctrl.disabled" ng-attr-title="{{$ctrl.hoverText}}" ng-attr-is-best-selection="{{$ctrl.depth === 0}}" ng-attr-is-sp="{{$ctrl.isSp}}" ng-class="[
                    $ctrl.type,
                    {
                        'FfpPi': $ctrl.type === 'back',
                        '_4kgZU': $ctrl.type === 'lay',
                        'Sm8Nv': $ctrl.type === 'over',
                        'p0Mw+': $ctrl.type === 'under',
                        'SPkh1': $ctrl.pressed,
                        'd5UZ9': $ctrl.highlighted,
                        'bCGFk': $ctrl.depth
                    }
                ]" ng-attr-is-pressed="{{$ctrl.pressed}}" title="" is-best-selection="true" is-pressed="false">
                <!---->
                <!----><label ng-if="!$ctrl.isSp" class="Zs3u5 AUP11 Qe-26"></label><!---->
                <!----><label ng-if="!$ctrl.isSp" class="He6+y Qe-26"></label><!---->
            </button>
            </ours-price-button></td><!----><!----><!----><!----><!----><!----><!----><td class="bet-buttons lay-cell first-lay-cell" ng-repeat="lay in runner.toLay track by $index" ng-if="ctrl.vm.data.prefs.displayLayPrices &amp;&amp; runner.isActive &amp;&amp; (ctrl.vm.data.prefs.displayMarketDepth || $first)" ng-class="{
                            'first-lay-cell': $first,
                            'suspended': ctrl.vm.data.market.isSuspended
                        }" bet-type="lay" bet-handicap="0" bet-selection-id="5851483"><ours-price-button type="lay" price="ctrl.vm.events.getBetPrice(lay.price)" size="ctrl.vm.events.getBetSize(lay.size, !$first)" depth="$index" pressed="$first &amp;&amp; runner.isLaySelected" highlightable="ctrl.vm.data.prefs.flashingUpdateButtonsEnabled" hover-text="ctrl.vm.events.getBetButtonFractionalOdd(lay)" disabled="ctrl.vm.data.market.isSuspended" on-click="ctrl.vm.events.addBet(ctrl.vm.data.betsConfiguration.types.lay, lay.price, runner)">
            <button class="_5iIjZ lay _4kgZU" ng-click="$ctrl.onClick()" ng-disabled="$ctrl.disabled" ng-attr-title="{{$ctrl.hoverText}}" ng-attr-is-best-selection="{{$ctrl.depth === 0}}" ng-attr-is-sp="{{$ctrl.isSp}}" ng-class="[
                    $ctrl.type,
                    {
                        'FfpPi': $ctrl.type === 'back',
                        '_4kgZU': $ctrl.type === 'lay',
                        'Sm8Nv': $ctrl.type === 'over',
                        'p0Mw+': $ctrl.type === 'under',
                        'SPkh1': $ctrl.pressed,
                        'd5UZ9': $ctrl.highlighted,
                        'bCGFk': $ctrl.depth
                    }
                ]" ng-attr-is-pressed="{{$ctrl.pressed}}" title="1/33" is-best-selection="true" is-pressed="false">
                <!---->
                <!----><label ng-if="!$ctrl.isSp" class="Zs3u5 AUP11 Qe-26">1.03</label><!---->
                <!----><label ng-if="!$ctrl.isSp" class="He6+y Qe-26">€15</label><!---->
            </button>
            </ours-price-button></td><!----><!----><!----><td class="bet-buttons lay-cell" ng-repeat="lay in runner.toLay track by $index" ng-if="ctrl.vm.data.prefs.displayLayPrices &amp;&amp; runner.isActive &amp;&amp; (ctrl.vm.data.prefs.displayMarketDepth || $first)" ng-class="{
                            'first-lay-cell': $first,
                            'suspended': ctrl.vm.data.market.isSuspended
                        }" bet-type="lay" bet-handicap="0" bet-selection-id="5851483"><ours-price-button type="lay" price="ctrl.vm.events.getBetPrice(lay.price)" size="ctrl.vm.events.getBetSize(lay.size, !$first)" depth="$index" pressed="$first &amp;&amp; runner.isLaySelected" highlightable="ctrl.vm.data.prefs.flashingUpdateButtonsEnabled" hover-text="ctrl.vm.events.getBetButtonFractionalOdd(lay)" disabled="ctrl.vm.data.market.isSuspended" on-click="ctrl.vm.events.addBet(ctrl.vm.data.betsConfiguration.types.lay, lay.price, runner)">
            <button class="_5iIjZ lay _4kgZU bCGFk" ng-click="$ctrl.onClick()" ng-disabled="$ctrl.disabled" ng-attr-title="{{$ctrl.hoverText}}" ng-attr-is-best-selection="{{$ctrl.depth === 0}}" ng-attr-is-sp="{{$ctrl.isSp}}" ng-class="[
                    $ctrl.type,
                    {
                        'FfpPi': $ctrl.type === 'back',
                        '_4kgZU': $ctrl.type === 'lay',
                        'Sm8Nv': $ctrl.type === 'over',
                        'p0Mw+': $ctrl.type === 'under',
                        'SPkh1': $ctrl.pressed,
                        'd5UZ9': $ctrl.highlighted,
                        'bCGFk': $ctrl.depth
                    }
                ]" ng-attr-is-pressed="{{$ctrl.pressed}}" title="1/9" is-best-selection="false" is-pressed="false">
                <!---->
                <!----><label ng-if="!$ctrl.isSp" class="Zs3u5 AUP11 Qe-26">1.11</label><!---->
                <!----><label ng-if="!$ctrl.isSp" class="He6+y Qe-26">€20</label><!---->
            </button>
            </ours-price-button></td><!----><!----><!----><td class="bet-buttons lay-cell" ng-repeat="lay in runner.toLay track by $index" ng-if="ctrl.vm.data.prefs.displayLayPrices &amp;&amp; runner.isActive &amp;&amp; (ctrl.vm.data.prefs.displayMarketDepth || $first)" ng-class="{
                            'first-lay-cell': $first,
                            'suspended': ctrl.vm.data.market.isSuspended
                        }" bet-type="lay" bet-handicap="0" bet-selection-id="5851483"><ours-price-button type="lay" price="ctrl.vm.events.getBetPrice(lay.price)" size="ctrl.vm.events.getBetSize(lay.size, !$first)" depth="$index" pressed="$first &amp;&amp; runner.isLaySelected" highlightable="ctrl.vm.data.prefs.flashingUpdateButtonsEnabled" hover-text="ctrl.vm.events.getBetButtonFractionalOdd(lay)" disabled="ctrl.vm.data.market.isSuspended" on-click="ctrl.vm.events.addBet(ctrl.vm.data.betsConfiguration.types.lay, lay.price, runner)">
            <button class="_5iIjZ lay _4kgZU bCGFk" ng-click="$ctrl.onClick()" ng-disabled="$ctrl.disabled" ng-attr-title="{{$ctrl.hoverText}}" ng-attr-is-best-selection="{{$ctrl.depth === 0}}" ng-attr-is-sp="{{$ctrl.isSp}}" ng-class="[
                    $ctrl.type,
                    {
                        'FfpPi': $ctrl.type === 'back',
                        '_4kgZU': $ctrl.type === 'lay',
                        'Sm8Nv': $ctrl.type === 'over',
                        'p0Mw+': $ctrl.type === 'under',
                        'SPkh1': $ctrl.pressed,
                        'd5UZ9': $ctrl.highlighted,
                        'bCGFk': $ctrl.depth
                    }
                ]" ng-attr-is-pressed="{{$ctrl.pressed}}" title="" is-best-selection="false" is-pressed="false">
                <!---->
                <!----><label ng-if="!$ctrl.isSp" class="Zs3u5 AUP11 Qe-26"></label><!---->
                <!----><label ng-if="!$ctrl.isSp" class="He6+y Qe-26"></label><!---->
            </button>
            </ours-price-button></td><!----><!---->